<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jonathan Pizarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'nav/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'file_manager/css/categories.css' %}">

    <title>Admin | Categories</title>
    
</head>
<body class="bg-light">

    {% include './navbar.html' with user=user %}


    <div class="new-category-container d-flex flex-column m-3 p-3 border rounded-3">
        <h3>New Category</h3>
        <hr class="w-100">
        {% csrf_token %}
        <div class="d-flex flex-row">
            <label for="new-category-name">New Category Name : </label>
            <input class="flex-grow-1 ms-3" type="text" id="new-category-name">
        </div>

        <div class="d-flex flex-row my-3">
            <label for="new-category-description">Category Description : </label>
            <input class="flex-grow-1 ms-3" type="text" id="new-category-description">
        </div>

        <button class="btn btn-primary" id="save-new-category-btn">Save New Category</button>

    </div>

    <div class="categories-container border rounded-3 m-3 p-3">
        
        <button class="btn btn-danger mb-3" id="delete-category-btn">Delete Selected Categories</button>
        <table id="category-table" class="table table-striped table-success table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkbox-all"></th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="category-tbody">
            
            {% if categories.count == 0 %}
                <tr id="no-categories">
                    <td colspan="4" class="text-center">No Categories Available</td>
                </tr>
            {% else %}
                {% for category in categories %}
                    <tr class='row-category' id="category-id-{{category.id}}">
                        <td class='col-checkbox'><input type="checkbox" name="category-checkbox" data-pk="{{category.id}}"></td>
                        <td class='col-category-name' data-name="{{category.name}}">{{category.name}}</td>
                        <td class='col-category-description'>{{category.description}}</td>
                        <td class='col-category-actions'>
                            <button class="edit-category-btn btn btn-primary" data-pk="{{category.id}}">Edit</button>
                            <button class="details-category-btn btn btn-info" data-pk="{{category.id}}">Details</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    
    </div>

    <div class="category-edit-container w-100 h-100 flex-column justify-content-center align-items-center">
        <div class="category-edit-sub-container p-3 bg-white d-flex flex-column align-items-center">
            <h3>Edit Category</h3>
            <hr class="w-100">
            <input type="hidden" id="edit-category-id" data-index="-1">
            <label for="edit-category-name">Category name</label>
            <input type="text" id="edit-category-name"><br>

            <label for="edit-category-description">Category description</label>
            <input type="text" id="edit-category-description">

            <div class="d-flex flex-row justify-content-center mt-5">
                <button class="btn btn-secondary me-1" id="edit-category-cancel-btn">Cancel</button>
                <button class="btn btn-primary ms-1" id="edit-category-save-btn">Save Changes</button>
            </div>

        </div>

    </div>

    <div class="category-details-container  w-100 h-100 flex-column justify-content-center align-items-center">
        <div class="category-details-sub-container  p-3 bg-white d-flex flex-column align-items-center">
            <h3>Category Details</h3>
            <hr class="w-100">

            <p>
                <span class="fw-bold">Category ID:</span>
                <span id="details-category-id"></span>
            </p>
            <p>
                <span class="fw-bold">Category Name:</span>
                <span id="details-category-name"></span>
            </p>
            <p>
                <span class="fw-bold">Description:</span>
                <span id="details-category-description"></span>
            </p>
            <p>
                <span class="fw-bold">Number of Files Under this Category:</span>
                <span id="details-category-count"></span>
            </p>
            <p>
                <span class="fw-bold">Creation Date:</span>
                <span id="details-category-creation-date"></span>
            </p>
            <p>
                <span class="fw-bold">Last Edit Date:</span>
                <span id="details-category-last-edit-date"></span>
            </p>
            <p>
                <span class="fw-bold">Created by:</span>
                <span id="details-category-creator"></span>
            </p>
            <p>
                <span class="fw-bold">Last Update by:</span>
                <span id="details-category-last-editor"></span>
            </p>

            <button class="btn btn-secondary" id="details-category-close-btn">Close</button>
        </div>
    </div>

    <script>

        function detailsBtnEvent(e){
            let id = e.target.getAttribute('data-pk')
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch("{% url 'file_manager:admin_get_category_details' %}",{
                method: 'POST',
                headers:{
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({
                    category_id: id
                })
            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                console.log(JSON.parse(res.data.category)[0])
                console.log(JSON.parse(res.data.creator)[0])
                console.log(JSON.parse(res.data.editor)[0])

                const category = JSON.parse(res.data.category)[0]
                const creator = JSON.parse(res.data.creator)[0]
                const editor = JSON.parse(res.data.editor)[0]

                if(res.result == "success"){
                    document.querySelector("#details-category-id").textContent = category.pk
                    document.querySelector("#details-category-name").textContent = category.fields.name
                    document.querySelector("#details-category-description").textContent = category.fields.description
                    document.querySelector("#details-category-count").textContent = res.data.count
                    document.querySelector("#details-category-creation-date").textContent = category.fields.creation_date
                    document.querySelector("#details-category-last-edit-date").textContent = category.fields.last_edit_date
                    document.querySelector("#details-category-creator").textContent = creator.fields.username
                    document.querySelector("#details-category-last-editor").textContent = editor.fields.username

                    document.querySelector(".category-details-container").style.display = 'flex'
                }
            })
            .catch(err=>console.log(err))
        }
        
        const saveNewBtn = document.querySelector("#save-new-category-btn")
        saveNewBtn.addEventListener("click", function(){
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let nameInput = document.querySelector("#new-category-name")
            let descInput = document.querySelector("#new-category-description")
            
            let name = nameInput.value.trim()
            let desc = descInput.value.trim()

            if( name == "" || desc == ""){
                alert("empty fields")
                return
            }

            fetch("{% url 'file_manager:admin_save_new_category' %}", {
                method : "POST",
                headers:{
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    name: name,
                    desc: desc
                })
            })
            .then(res=>res.json())
            .then(res=>{
                if(res.result==="success"){
                    console.log(res)
                    let row = document.createElement('tr')
                    let id = res.data.id
                    let count = res.data.count
                    
                    row.setAttribute('id', 'category-id-' + id)
                    let rowData = "<td class='col-checkbox'><input type='checkbox' name='category-checkbox' data-pk='" + id + "'></td>" +
                    "<td class='col-category-name' data-name='" + res.data.name + "'>" + res.data.name + "</td>" +
                    "<td class='col-category-description'>" + res.data.desc + "</td>" +
                    "<td class='col-category-actions'>" +
                        "<button class='edit-category-btn' data-pk='" + id + "'>Edit</button> " +
                        "<button class='details-category-btn' data-pk='" + id + "'>Details</button>"
                    "</td>"
                    
                    let tbody = document.querySelector("#category-tbody")
                    row.innerHTML = rowData
                    tbody.insertBefore(row, tbody.children[1])

                    if(count  == 1){
                        document.querySelector("#no-categories").remove()
                    }
                    
                    //add event lister for new edit button
                    document.querySelector(".edit-category-btn").addEventListener("click", function(e){
                        let row = document.querySelector("#category-id-" + id)
                        let name = row.querySelector(".col-category-name").getAttribute('data-name')
                        let description = row.querySelector(".col-category-description").textContent
                        
                        document.querySelector(".category-edit-container").style.display = 'flex'
                        document.querySelector("#edit-category-name").value = name
                        document.querySelector("#edit-category-description").value = description
                        document.querySelector("#edit-category-id").value = id

                    })

                    document.querySelector(".details-category-btn").addEventListener("click", function(e){
                        detailsBtnEvent(e)
                    })

                    nameInput.value = ''
                    descInput.value = ''
                }

            })
            .catch(err=>console.log(err))
        })

        
        const editBtns = document.querySelectorAll(".edit-category-btn")
        for(let i=0; i<editBtns.length; i++){
            editBtns[i].addEventListener("click", function(e){
                let id = e.target.getAttribute('data-pk')
                let name = document.querySelectorAll(".col-category-name")[i].getAttribute('data-name')
                let description = document.querySelectorAll(".col-category-description")[i].textContent
                
                document.querySelector(".category-edit-container").style.display = 'flex'
                document.querySelector("#edit-category-name").value = name
                document.querySelector("#edit-category-description").value = description
                document.querySelector("#edit-category-id").value = id

            })
        }

        const detailBtns = document.querySelectorAll(".details-category-btn")
        for(let i=0; i<detailBtns.length; i++){
            detailBtns[i].addEventListener("click", function(e){
                detailsBtnEvent(e)
            })
        }
    
        const closeDetailsBtn = document.querySelector("#details-category-close-btn")
        closeDetailsBtn.addEventListener("click", function(){
            document.querySelector(".category-details-container").style.display = 'none'

        })

        const saveBtn = document.querySelector("#edit-category-save-btn")
        saveBtn.addEventListener("click", function(){
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let category_id = document.querySelector("#edit-category-id").value
            let name = document.querySelector("#edit-category-name").value.trim()
            let description = document.querySelector("#edit-category-description").value.trim()
            if(name == '' || description == ''){
                alert('fill out empty fields')
            }else{
                console.log(category_id, name, description)
                fetch("{% url 'file_manager:save_category_changes' %}", {
                    method: 'POST',
                    headers:{
                        'X-CSRFToken': csrftoken,
                    },
                    body:JSON.stringify({
                        category_id : category_id,
                        name: name,
                        description: description
                    })
                })
                .then(res=>res.json())
                .then(res=>{
                    console.log(res)
                    if(res.result == 'success'){
                        let row = document.querySelector("#category-id-" + category_id)
                        row.querySelector(".col-category-name").textContent = name
                        row.querySelector(".col-category-description").textContent = description
                        
                        document.querySelector(".category-edit-container").style.display = 'none'
                    }
                })
                .catch(err=>console.log(err))
            }
        })

        const cancelBtn = document.querySelector("#edit-category-cancel-btn")
        cancelBtn.addEventListener("click", function(){
            document.querySelector(".category-edit-container").style.display = 'none'
        })

        const deleteBtn = document.querySelector("#delete-category-btn")
        deleteBtn.addEventListener("click", function(){
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let checkboxes = document.querySelectorAll("[name=category-checkbox]:checked")
            let category_ids = [...checkboxes].map((c, i)=> c.getAttribute('data-pk'))
            
            console.log(category_ids)

            if(category_ids.length == 0){
                alert("no chosen category/categories")
                return
            }
            let conf = confirm("Are you sure you want to delete/archive categories? \nAll files under the selected categories will also be archived")
            
            if(conf){
                fetch("{% url 'file_manager:delete_selected_categories' %}",{
                    method: 'POST',
                    headers:{
                        'X-CSRFToken': csrftoken,
                    },
                    body:JSON.stringify({
                        category_ids: category_ids
                    })
                })
                .then(res=>res.json())
                .then(res=>{
                    console.log(res)
                    if(res.result == "success"){
                        let count = res.data.count
                        for(let cid of category_ids){
                            document.querySelector("#category-id-"+cid).remove()
                        }
                        if(count == 0){
                            let row = document.createElement("tr")
                            row.setAttribute('id', 'no-categories')
                            row.innerHTML = "<td colspan='4'>no categories available</td>"
                            document.querySelector("#category-tbody").appendChild(row)
                        }

                        alert(res.message)
                    }
                })
                .catch(err=>console.log(err))
            }
            

        })

        const checkAll = document.querySelector("#checkbox-all")
        checkAll.addEventListener("click", function(e){
            if(e.target.checked){
                console.log('checked')
                let checkboxes = document.querySelectorAll("[name=category-checkbox]")
                for(let i=0; i<checkboxes.length; i++){
                    checkboxes[i].checked = true
                }
            }else{
                console.log('not checked')
                let checkboxes = document.querySelectorAll("[name=category-checkbox]")
                for(let i=0; i<checkboxes.length; i++){
                    checkboxes[i].checked = false
                }
            }
        })

        const fileManagerBtn = document.querySelector("#file-manager-btn")
        fileManagerBtn.addEventListener("click", function(){
            window.location.href = "{% url 'file_manager:index' %}"
        })

    </script>
</body>
</html>