
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row" href="#" >
            <div class="profile-img-container d-flex justify-content-center align-items-center border rounded-circle">
                <img src="{{ user.profile_image.url }}" alt="user profile img" width="50" height="50" class="d-inline-block">
            </div>
            <h6 class="ms-3 my-auto text-light">Hello, {{user.username}} !</h6>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse h-100 navbar-collapse d-flex flex-row justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav h-100">

                <a class="nav-link text-light h-100" href="{% url 'accounts:profile' %}">Profile</a>
                <a class="nav-link text-light h-100" href="{% url 'file_manager:index' %}">File Manager</a> 
                <a class="nav-link text-light h-100" href="{% url 'file_manager:archives' %}">Archives</a>
                

                {% if user.is_admin %}
                    <a class="nav-link text-light h-100" href="{% url 'file_manager:admin_categories' %}">Categories</a>
                    <a class="nav-link text-light h-100" href="{% url 'file_manager:admin_users' %}">Users</a>
                    <a class="nav-link text-light h-100" href="{% url 'reports:index' %}">Reports</a>
                    
                {% endif %}

                <a href="#" class="nav-link text-light" id="logout-btn">Logout </a>

            </div>
        </div>
    </div>
</nav>


<script>
    const logoutBtn = document.querySelector("#logout-btn")
    logoutBtn.addEventListener("click", function(){
        let c = confirm("Are you sure you want to logout?")
        if(c){
            window.location.href = "{% url 'accounts:logout' %}"
        }
    })

</script>