<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jonathan Pizarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'nav/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/change-password.css' %}">

    <title>Change Password</title>
</head>
<body>
    {% include '../file_manager/navbar.html' with user=user %}
    
    <div class="change-password-box mx-auto my-5 p-5 border rounded-3 d-flex flex-column align-items-center">
        <h3>Change Password</h3>
        <hr class="w-100">
        

        <div class="form d-flex flex-column align-items-center">
            {% csrf_token %}
            <label for="current-password">Current Password</label>
            <input type="password" id="current-password"><br>
    
            <label for="new-password">New Password</label>
            <input type="password" id="new-password"><br>
    
            <label for="confirm-new-password">Confirm New Password</label>
            <input type="password" id="confirm-new-password"><br>
    
            <button class="btn btn-primary" id="save-new-password-btn">Save New Password</button>
    
        </div>
    </div>
    


    <script>
        const savePasswordBtn = document.querySelector("#save-new-password-btn")
        savePasswordBtn.addEventListener("click", function(){
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let current_pass = document.querySelector("#current-password").value.trim();
            let new_pass = document.querySelector("#new-password").value.trim();
            let confirm_pass = document.querySelector("#confirm-new-password").value.trim();

            if(new_pass != confirm_pass){
                alert("passwords don't match")
                return
            }

            console.log('current', current_pass)
            console.log('new pass', new_pass)
            console.log('confirm', confirm_pass)

            fetch("{% url 'accounts:save_new_password' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'current_pass' : current_pass,
                    'new_pass' : new_pass
                })

            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                if(res.result == "success"){
                    
                    document.querySelector("#current-password").value = ''
                    document.querySelector("#new-password").value = ''
                    document.querySelector("#confirm-new-password").value = ''
                    alert('new password saved!')
                }
            })
            .catch(err=>console.log(err))

        })

        const profileBtn = document.querySelector("#go-to-profile")
        profileBtn.addEventListener('click', function(){
            window.location.href = "{% url 'accounts:profile' %}"
        })
    </script>
</body>
</html>