1<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jonathan Pizarra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="form">
        {% csrf_token %}
        <label for="current-password">Current Password</label>
        <input type="password" id="current-password"><br>

        <label for="new-password">new Password</label>
        <input type="password" id="new-password"><br>

        <label for="confirm-new-password">Confirm new Password</label>
        <input type="password" id="confirm-new-password"><br>

        <button id="save-new-password-btn">Save new password</button>

        <button id="go-to-profile">Profile</button>
    </div>


    <script>
        const savePasswordBtn = document.querySelector("#save-new-password-btn")
        savePasswordBtn.addEventListener("click", function(){
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let current_pass = document.querySelector("#current-password").value.trim();
            let new_pass = document.querySelector("#new-password").value.trim();
            let confirm_pass = document.querySelector("#confirm-new-password").value.trim();

            if(new_pass != confirm_pass){
                alert("passwords don't match")
                return
            }

            console.log('current', current_pass)
            console.log('new pass', new_pass)
            console.log('confirm', confirm_pass)

            fetch("{% url 'accounts:save_new_password' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'current_pass' : current_pass,
                    'new_pass' : new_pass
                })

            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                if(res.result == "success"){
                    
                    document.querySelector("#current-password").value = ''
                    document.querySelector("#new-password").value = ''
                    document.querySelector("#confirm-new-password").value = ''
                    alert('new password saved!')
                }
            })
            .catch(err=>console.log(err))

        })

        const profileBtn = document.querySelector("#go-to-profile")
        profileBtn.addEventListener('click', function(){
            window.location.href = "{% url 'accounts:profile' %}"
        })
    </script>
</body>
</html>